doctype html
html
  head
    meta(charset='utf-8')

    meta(http-equiv='X-UA-Compatible', content='IE=Edge,chrome=1')
    meta(name='viewport', content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,minimal-ui')
    meta(name='robots', content='index,follow')

    meta(name='description', content='CryptoPhoto Demo v. 1.0, Node.js / Express version')
    meta(name='author', content='CryptoPhoto (http://cryptophoto.com/)')
    meta(name='keywords', content='cryptophoto node node.js express')

    title CryptoPhoto Demo v. 1.0, Node.js / Express version

    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:400,900')
    link(rel='stylesheet', href='http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css')
    link(rel='stylesheet', href='css/main.css')

    script(src='http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js')

  body
    main(role='main')
      h1 Log in with CryptoPhoto
      if errorMessage
        p.error= errorMessage

      form(method='post', action='/')
        label(for='userId') Username:
        input(id='userId', name='userId', placeholder='Enter the user id', value='#{userId ? userId : ""}', autofocus)
        label(for='passWd') Password:
        input(id='passWd', name='passWd', type='password')
        if cryptoPhotoWidget
          != cryptoPhotoWidget
        input(type='submit', value='Go')

    footer(role='contentinfo')
      p
        | Copyright (C) 2014
        a(href='http://cryptophoto.com/')  Cryptophoto.com
        | . All Rights Reserved.
